<nav>
    <a href="/buyer_dashboard">Buyer Dashboard</a>
</nav>






























{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Django App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to Kisan Sathi</h1>
    <img src="{% static 'images/logo.png' %}" alt="Logo">
    <script src="{% static 'js/scripts.js' %}"></script>

    <nav>
        <a href="/buyer_dashboard">Buyer Dashboard</a>
    </nav>
</body>
</html> {% endcomment %}





